{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>VshalTailors</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="{% static 'media/img/favicon.ico' %}" type="image/x-icon">
<link rel="apple-touch-icon" href="{% static 'media/img/apple-touch-icon.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'media/img/apple-touch-icon-72x72.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'media/img/apple-touch-icon-114x114.png' %}">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="{% static 'vishalTailorsapp/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css"  href="{% static 'vishalTailorsapp/fonts/font-awesome/css/font-awesome.css' %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" type="text/css"  href="{% static 'vishalTailorsapp/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vishalTailorsapp/css/nivo-lightbox/nivo-lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vishalTailorsapp/css/nivo-lightbox/default.css' %}">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<style>
.intro {
	display: table;
	width:100%;
	height: 750px;
	background-position: center;
	padding: 0;
	margin-bottom:80px;
	background: url("{% static 'vishalTailorsapp/img/intro-bg.png' %}") no-repeat right top;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
</style>
</head>
<body>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
    <a href="/log_in_form/" class="hvr">addministrator login</a>
      <div class="container">
		<form action="/get_status/" method="post">
      <input type="text" id="id12" name="name" placeholder="Enter booklet no/Name" required>
      <input type="submit" id='id12' value="Search" style="height: auto; width: 100px;">
		
		</form>
        <div class="row">
          <div class="col-xs-12 col-md-8">
			      <marquee direction="scroll"><span class="colorchange">Wellcome To vishalTailors :)</span></marquee>
            <div class="intro-text">
              <h1>VishalTailors</h1>
				<p>Near Bus Stand, Mokhada, Dist. Palghar</p>
              <p>RAJMANI PRAJAPATI Contact: +918007058099</p>
              <a href="#portfolio" class="btn btn-custom btn-lg page-scroll">galary</a> <a href="#contact" class="btn btn-custom btn-lg page-scroll">About</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Portfolio Section -->
<div id="portfolio">
  <div class="container">
    <div class="section-title">
      <h2>Galary</h2>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <li><a href="#" data-filter="*" class="active">All CATEGRY</a></li>
            <li><a href="#" data-filter=".lorem">I CATEGRY</a></li>
            <li><a href="#" data-filter=".dolor">II CATEGRY</a></li>
            <li><a href="#" data-filter=".adipiscing">III CATEGRY</a></li>
          </ol>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-4 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/01-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/0039_03271710_1981.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 adipiscing">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/02-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/2018-latest-fashion-mens-pant-shirt-new.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/03-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/8147753_fpx.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/04-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/d733c8035e02594ba0402516ccf8dc8f.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 adipiscing">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/05-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/download.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 dolor">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/06-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/images (1).jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 dolor">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/07-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/images (2).jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/08-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/images (3).jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 adipiscing">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/09-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/images (4).jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 adipiscing">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/10-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/images (5).jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 adipiscing">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/11-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/images (6).jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/12-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/images.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 adipiscing">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/13-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/ladies-shirts-250x250.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 dolor">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/14-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/Men Fashion 2015-16 Men Wear Pant Shirt (4).jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 dolor">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/15-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/men-pant-stitching-services-500x500.jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/16-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/images (8).jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 adipiscing">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/17-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/images (7).jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 lorem">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/18-large.jpg" title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <div class="overlay-caption">
                  <div class="overlay-content">
                    <h4>Project Name</h4>
                  </div>
                </div>
              </div>
              <img src="{% static 'vishalTailorsapp/img/1 (1).jpg' %}" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Section -->
<div id="contact">
  <div class="container">
    <h2>About Me</h2>
    <div class="col-md-6">
      <div class="section-title">
        <div class="row"> <img src="{% static 'vishalTailorsapp/rajmani.jpg' %}" class="img-responsive pull-left" alt="">
          <p>Weare making  clothes.......................................................................................................................</p>
          <p>.................................................................................................................................</p>
          </div>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <div class="section-title">
        <p>For inquiries or collaborations please contact me by email at <strong>razz.8090@gmail.</strong> or fill out the form below.</p>
      </div>
      <form name="sentMessage" id="contactForm" novalidate method="post" action="#">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default btn-lg">Send Message</button>
      </form>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <p>&copy; 2018 Rajkumar. All rights reserved.</p>
  </div>
</div>
<script type="text/javascript" src="{% static 'vishalTailorsapp/js/jquery.1.11.1.js' %}"></script> 
<script type="text/javascript" src="{% static 'vishalTailorsapp/js/bootstrap.js' %}"></script> 
<script type="text/javascript" src="{% static 'vishalTailorsapp/js/SmoothScroll.js' %}"></script> 
<script type="text/javascript" src="{% static 'vishalTailorsapp/js/nivo-lightbox.js' %}"></script> 
<script type="text/javascript" src="{% static 'vishalTailorsapp/js/jquery.isotope.js' %}"></script> 
<script type="text/javascript" src="{% static 'vishalTailorsapp/js/jqBootstrapValidation.js' %}"></script> 
<script type="text/javascript" src="{% static 'vishalTailorsapp/js/main.js' %}"></script>
</body>
</html>
