

body {
 font-family:Courier New;
 margin:0;
 background-repeat:no-repeat;
 background-size:cover;
 }
 
 .box{
 position:absolute;
 top:55%;
 left:50%;
 transform:translate(-50%,-50%);
 width:450px;
 height:570px;
 background:#fff;
 padding:40px;
 box-sizing:border-box;
 border:1px solid rgba(0,0,0,.1);
 box-shadow:0 5px 10px rgba(0,0,0,.2);
 }

h2{
 font-family:Arial;
 margin:0 0 40px;
 padding:0;
 color:#47d147;
 }
 
#a{
 padding:10px 0;
 margin-bottom:30px;
 width:100%;
 border-sizing:border-box;
 border:none;
 border-bottom:2px solid #999;
 box-shadow:none;
 outline:none;
 }

#b{
font-weight:bold;
color:#47d147;
font-size:19px
} 

#c{
    background-color:#4CAF50;;
	width:200px;
	margin-left:90px;
    border: none;
    color: white;
    border-radius: 100px;
    padding: 15px 15px 15px;
    text-align:center;
   display: inline-block;
    font-size: 16px;
    cursor: pointer;
	webkit-transition-duration: 0.4s;}
	
   
#a:focus{ border-bottom:2px solid #47d147;}
#d:hover{box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 7px 5px 0 rgba(0,0,0,0.20);}
#c:hover{box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 7px 5px 0 rgba(0,0,0,0.20);}

.img {
 width: 100px;
 height: 100px;
 border-radius: 50%;
 overflow: hidden;
 position: absolute;
 top: calc(-100px/2);
 left: calc(50% - 50px);
}

a{align:center;
 text-decoration: none;
 color: #47d147;
}
